<div
  class="ScrollView {{this.extraCssClasses}}"
  ...attributes
  {{did-insert this.didInsert}}
  {{did-update this.onContentHeightChanged @contentHeight}}
  {{did-update this.onKeyUpdated @key}}
>
  <div data-test-scroll-container>
    {{yield this.scrollViewApi}}
  </div>
  {{#if @auxiliaryComponent}}
    {{component @auxiliaryComponent}}
  {{/if}}
  <VerticalScrollBar
      data-test-scroll-bar
      class="ScrollView-scrollBar"
      @contentHeight={{this.scrollBarContentHeight}}
      @scrollerHeight={{this.scrollBarClientHeight}}
      @registerWithScrollView={{this.scrollViewApi.registerScrollPositionCallback}}
  />
  {{emitter-action
    emitter=this.windowRef
    eventName="requestScrollToTop"
    action=this.scrollViewApi.scrollToTopIfInViewport
  }}
</div>
