<div data-test-scroll-container>
  {{yield scrollViewApi}}
</div>
<VerticalScrollBar
  data-test-scroll-bar
  class="ScrollView-scrollBar"
  @contentHeight={{_appliedContentHeight}}
  @scrollerHeight={{_appliedClientHeight}}
  @registerWithScrollView={{action scrollViewApi.registerScrollPositionCallback}}
/>
{{emitter-action
    emitter=windowRef
    eventName="requestScrollToTop"
    action=scrollViewApi.scrollToTopIfInViewport
}}
