{{!-- template-lint-disable require-input-label --}}
<h3>Images</h3>
<button type="button" {{on 'click' this.shuffle}}>Shuffle</button>
<p>
  Container Width: <input type='range' min="200" max="1000" value={{this.containerWidth}} oninput={{this.updateContainerWidth}}> {{this.containerWidth}}
  Container Height: <input type='range' min="200" max="1000" value={{this.containerHeight}} oninput={{this.updateContainerHeight}}> {{this.containerHeight}}
</p>
<p>
Item Height: {{this.itemHeight}}
Item Width: {{this.itemWidth}}
</p>
<hr />

<div class="simple-list" style={{html-safe (concat 'position:relative;width:' this.containerWidth 'px;height:' this.containerHeight 'px;')}}>
  <CollectionScrollView
    @items={{this.model}}
    @estimatedHeight={{this.containerHeight}}
    @estimatedWidth={{this.containerWidth}}
    @estimateItemHeight={{this.itemHeight}}
    @buffer={{1}}
    @cellLayout={{fixed-grid-layout this.itemWidth this.itemHeight}}
  >
    <:row as |item|>
      <div class="list-item">
        {{dynamic-image item.imageSrc width=50 height=50}}
        {{item.name}}
      </div>
    </:row>
  </CollectionScrollView>
</div>
