<h3>Images</h3>
<button {{on 'click' this.shuffle}}>Shuffle</button>
<p>
  Container Width: <input type='range' min=200 max=1000 value={{this.containerWidth}} oninput={{action 'updateContainerWidth' value='target.value'}}> {{this.containerWidth}}
  Container Height: <input type='range' min=200 max=1000 value={{this.containerHeight}} oninput={{action 'updateContainerHeight' value='target.value'}}> {{this.containerHeight}}
</p>
<p>
Item Height: {{this.itemHeight}}
Item Width: {{this.itemWidth}}
</p>
<hr />

<div class="simple-list" style={{html-safe (concat 'position:relative;width:' this.containerWidth 'px;height:' this.containerHeight 'px;')}}>
  <CollectionScrollView
    @items={{this.model}}
    @estimated-height={{this.containerHeight}}
    @estimated-width={{this.containerWidth}}
    @buffer={{1}}
    @cell-layout={{fixed-grid-layout this.itemWidth this.itemHeight}}
  >
    <:row as |item index|>
      <div class="list-item">
        {{dynamic-image item.imageSrc width=50 height=50}}
        {{item.name}}
      </div>
    </:row>
  </CollectionScrollView>
</div>
