<div
  class="CollectionScrollView-scrollContainer"
  data-test-scroll-container
  {{this.registerScrollElement}}
  {{on "scroll" this.handleScroll}}
  {{on-resize this.handleResize}}
  role={{if @role @role}}
  ...attributes
>
  {{#if @auxiliaryComponent}}
    {{component @auxiliaryComponent
      cellLayout=@cellLayout
      items=@items
      clientSize=this.collectionClientSize
      scrollTop=this.scrollTop
      verticalOffset=this.visibleHeaderHeight
    }}
  {{/if}}
  <VerticalCollection
    @bufferSize={{@buffer}}
    @estimateHeight={{@estimateItemHeight}}
    @firstVisibleChanged={{this.firstVisibleChanged}}
    @items={{@items}}
    @key={{or @itemKey "id"}}
    @registerAPI={{this.registerAPI}}
    @renderAll={{false}}
    @staticHeight={{@staticHeight}}
    @width={{@width}}
    as |item index|
  >
    {{yield item index to="row"}}
  </VerticalCollection>
  {{emitter-action
    emitter=this.windowRef
    eventName="requestScrollToTop"
    action=this.scrollToTopIfInViewport
  }}

  {{#if @revealService}}
    {{emitter-action
      emitter=@revealService
      eventName="revealItemById"
      action=this.scrollToItem
    }}
  {{/if}}
</div>
