<ScrollView
    @contentHeight={{_contentSize.height}}
    @scrollTopOffset={{scrollTopOffset}}
    @initialScrollTop={{initialScrollTop}}
    @key={{key}}
    @auxiliaryComponent={{if auxiliaryComponent
      (component auxiliaryComponent
          cell-layout=cell-layout
          items=items
          estimated-width=estimated-width
          estimated-height=estimated-height
          client-width=_clientWidth
          client-height=_clientHeight
          scroll-top=_scrollTop
      )
    }}
    @clientSizeChange={{action 'clientSizeChange'}}
    @scrollChange={{action 'scrollChange'}}
    @scrolledToTopChange={{action 'onScrolledToTopChange'}}
  as |scrollViewApi|
>
  {{~#each _cells as |cell|~}}
    <div style={{html-safe cell.style}}>{{yield cell.item cell.index scrollViewApi}}</div>
  {{~/each~}}
  {{#if revealService}}
    {{emitter-action
        emitter=revealService
        eventName="revealItemById"
        action=(action 'scrollToItem' scrollViewApi)
    }}
  {{/if}}
</ScrollView>
