{{!-- {{#ember-virtual-scrollable content-size=_contentSize
                            scroll-left=_scrollLeft
                            scroll-top=_scrollTop
                            scroll-control-api-registrar=_scrollControlApiRegistrar
                            initial-scroll-top=_initialScrollTop
                            clientSizeChange=(action "clientSizeChange")
                            scrollChange=(action "scrollChange")
                            scrollingComplete=(action "scrollingComplete")
                            touchingChange=(action "touchingChange")
                            as |scrollViewApi|
                            }}
  <div>
    {{~#each _cells as |cell|~}}
      <div style={{{cell.style}}}>{{yield cell.item cell.index }}</div>
    {{~/each~}}
  </div>
  {{ember-vertical-scrollbar
      scrollTop=scrollViewApi.scrollTop
      contentHeight=scrollViewApi.contentHeight
      viewportHeight=scrollViewApi.clientHeight
      isTouching=scrollViewApi.isTouching
      isScrolling=scrollViewApi.isScrolling
  }}
{{/ember-virtual-scrollable}} --}}

<YappScrollView
  @contentSize=_contentSize
  @scrollTop=_scrollTop
  @scrollControlApiRegistrar=_scrollControlApiRegistrar
  @initialScrollTop=_initialScrollTop
  @clientSizeChange={{action 'clientSizeChange'}}
  @scrollChange={{action 'scrollChange'}}
  as |scrollViewApi|
>
  {{~#each _cells as |cell|~}}
    <div style={{{cell.style}}}>{{yield cell.item cell.index }}</div>
  {{~/each~}}
</YappScrollView>
